nodeLinker: pnp
compressionLevel: mixed
enableGlobalCache: true

npmRegistries:
  //npm.pkg.github.com:
    npmAlwaysAuth: true

npmScopes:
  mantisvision:
    npmAuthToken: "your_git_auth_token_here"
    npmPublishRegistry: "https://npm.pkg.github.com"
    npmRegistryServer: "https://npm.pkg.github.com"

yarnPath: .yarn/releases/yarn-4.1.1.cjs
